body {
    height: auto;
}

.header {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
    border-radius: 20px;
    font-size: 30px;
    font-family: Georgia;
    text-shadow: 2px 2px rgb(136, 136, 136);
}

.subheader {
    text-align: center;
}


/* navbar */

nav {
    width: auto;
    background-color: rgb(255, 146, 131);
    border-radius: 15px;
    padding-top: 25px;
}

.list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-around;
}

.item {
    position: relative;
    padding: 0 50px;
    height: 100%;
    display: flex;
}


/*Nav bar text*/

.navbar {
    z-index: 1;
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-family: cursive;
    font-weight: 500;
    font-size: 25px;
    padding-bottom: 20px
}


/*middle sliding rect*/

.item::before {
    content: "";
    position: absolute;
    height: 60%;
    width: 0;
    background-color: #ffffff;
    right: 0;
    z-index: 0;
    transition: all 0.5s;
}


/*bottom sliding rect*/

.item::after {
    content: "";
    position: absolute;
    height: 40%;
    width: 0;
    background-color: #ffffff;
    left: 0;
    z-index: 0;
    bottom: 20%;
    transition: all 0.5s;
    border-radius: 10px;
}


/*top sliding rect*/

a::before {
    position: absolute;
    content: "";
    height: 40%;
    width: 0;
    background-color: #ffffff;
    bottom: 85%;
    left: 0;
    transition: all 0.5s;
    border-radius: 10px;
}

.item:hover:before,
.item:hover::after,
.item:hover a::before {
    width: 100%;
}

div.container {
    border-radius: 25px;
    margin: 40px;
    background-color: rgb(228, 245, 255);
    border: 5px solid black;
}

.text {
    margin-left: 40px;
    font-family: Georgia;
    font-size: 18px;
    color: black;
    width: 45%;
}

.landfill {
    position: absolute;
    top: 50%;
    display: inline-block;
    margin: 0 auto;
    left: 50%;
    top-padding: 300px;
}

.footer {
    border-radius: 20px;
    background-color: #6fbe64;
    position: relative;
    left: 0;
    width: 100%;
    height: 35px;
    color: white;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 5px;
    font-family: cursive;
    padding-top: 15px;
    font-size: 18px;
}

a {
    text-decoration: none;
}